.app {
    display:grid;
    justify-items: center;
}

.wrapper {
    width: 39.68rem;
    padding: 0 1rem 2rem 1rem;

    display: flex;
    justify-items: center;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .wrapper {
        width: 100%;
    }
}